@model  IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() == 0)
{
    <text>We don't have any movies yet.</text>
}
else
{
    <p>
        @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
    </p>
    <div><h3>Movies</h3><br /></div>
    <table class="table table-­bordered table-­hover”>">
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@(Html.ActionLink(movie.Name, "Edit", new { Id = movie.Id }))</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </table>
}